body{
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header, #turn-status{
    font-size: 3em;
}

#game-board{
    height: 500px;
    width: 500px;
    display: grid;
    margin: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.board-square{
    background-color: #121212;
    border: 1px solid #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
}

.board-square:hover{
    filter: brightness(1.3)
}

.board-square:active{
    filter: brightness(1.2)
}

div[data-position="0"]{
    border-left: none;
    border-top: none;
}

div[data-position="1"]{
    border-top: none;
}

div[data-position="2"]{
    border-top: none;
    border-right: none;
}

div[data-position="3"]{
    border-left: none;
}

div[data-position="5"]{
    border-right: none;
}

div[data-position="6"]{
    border-left: none;
    border-bottom: none;
}

div[data-position="7"]{
    border-bottom: none;
}

div[data-position="8"]{
    border-bottom: none;
    border-right: none;
}

.win-square{
    filter: brightness(1.6);
}